.header {
  font-size: 40px;
  font-weight: 500;
  position: relative;
}
.subtext {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #3e4a59;
}
.vector {
  position: absolute;
  left: 0px;
  z-index: -1;
}
.header-1 {
  font-size: 30px;
  font-weight: 500;
}
.header-2 {
  font-weight: 500;
  font-size: 19px;
}
.subtext-1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: rgba(62, 74, 89, 0.5);
}
.testimonial-box {
  font-family: "Inter";
  font-style: normal;
  background-color: #e6eff0;
  height: 250px;
  width: 100%;
  margin-top: 4em;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #212529;
}
.credits {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #212529;
}
.question-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #c93030;
}
.Accordion {
  border: none;
  border-bottom: 1px rgb(211, 204, 204) solid;
}
.Accordion-last {
  border: none;
}
.Acc-header {
  font-weight: 700;
  font-size: 14px;
  color: #3e4a59;
}
.text-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
