.general-question {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.enquiry-div {
  margin-top: 10%;
}
.btn-primary {
  height: 43.55px;
  width: 100px;
  margin-top: 4%;
  background-color: #bcdd33;
  border: none;
  color: #025f4c;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
}
.btn-secondary {
  height: 43.55px;
  width: 268px;
  margin-top: 4%;
  margin-left: 3%;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  color: black;
  background-color: white;
}
.btn-secondary:hover {
  background-color: #0d6e5e;
}
.btn-primary:hover {
  background-color: #b8e507;
  color: #025f4c;
}
hr {
  margin-top: 3%;
  color: #6fa79c;
}
.selectedSymptomColor {
  cursor: pointer;
  padding: 15px 20px;
  background-color: #bcdd33;
  border-radius: 5px;
}
.sym-card {
  cursor: pointer;
  padding: 15px 20px;
  background-color: #eaecf1;
  border-radius: 5px;
}
.sym-card:hover{
  transform: scale(1.06);
  
}

.btn-light {
  font-size: 15px;
  padding: 2px 10px;
  background-color: #0d6e5e !important;
  color: white;
  border: none !important;
  border-radius: 5px;
}
.btn-light:hover {
  background-color: #488c80;
  color: white;
}
.text-1 {
  font-weight: 500;
  font-size: large;
  color: rgb(158, 152, 152);
}

.btn-submit {
  background-color: #bcdd33;
  color: #025f4c;
  font-weight: 500;
}
.btn-submit:hover {
  color: #025f4c;
  background-color: #b8e507;
}
