.general-question {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.enquiry-div {
  margin-top: 10%;
}
.btn-primary {
  padding:10px 30px 10px 30px;
  margin-top: 4%;
  background-color: #bcdd33;
  border: none;
  color: #025f4c;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
}
.btn-secondary {
  height: 43.55px;
  width: 268px;
  margin-top: 4%;
  margin-left: 3%;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  color: black;
  background-color: white;
}
.btn-secondary:hover {
  background-color: #0d6e5e;
}
.btn-primary:hover {
  background-color: #b8e507;
  color: #025f4c;
}
hr {
  margin-top: 3%;
  color: #6fa79c;
}
.selectedSymptomColor {
  cursor: pointer;
  padding: 15px 20px;
  background-color: #bcdd33;
  border-radius: 5px;
}
.sym-card {
  cursor: pointer;
  padding: 15px 20px;
  background-color: #eaecf1;
  border-radius: 5px;
}
.sym-card:hover {
  transform: scale(1.06);
}

.btn-light {
  font-size: 15px;
  padding: 2px 10px;
  background-color: #0d6e5e !important;
  color: white;
  border: none !important;
  border-radius: 5px;
}
.btn-light:hover {
  background-color: #488c80;
  color: white;
}
.text-1 {
  font-weight: 500;
  font-size: large;
  color: rgb(158, 152, 152);
}

.btn-submit {
  background-color: #bcdd33;
  color: #025f4c;
  font-weight: 500;
}
.btn-submit:hover {
  color: #248774;
  background-color: #b8e507;
}
#contained-modal-title-vcenter {
  color: #025f4c;
}
.btn-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Prescription-box {
  width: 600px;
  height: 400px;
  border: 0.5px rgb(231, 222, 222) solid;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}
.pres-header {
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  font-family: cursive;
}
.advice {
  font-weight: 600 !important;
  font-size: large;
  color: #025f4c;
}
.info {
  font-size: small;
}
.suggest {
  font-weight: 500;
  color: #248774;
}
.btn-info {
  float: right !important;
  background-color: white;
  border: 0.5px #ad0b00 solid;
  color: black;
}
.btn-info:hover {
  background-color: #ad0b00;
  color: white;
  border: none;
}
.btn-info:active {
  background-color: #ad0b00 !important;
  border: none;
}
.presData {
  top: 35px;
}
.patientName {
  font-size: 16px;
  font-weight: 600;
  font-family: cursive;
}
.patientDetails {
  font-size: 17px;
  font-weight: 500;
  font-family: cursive;
}
.prescriptionPencil {
  position: absolute;
  top: 342px;
  right: 0px;
}
.btn-secondary1 {
  height: 43.55px;
  width: 300px;
  margin-top: 4%;
  margin-left: 3%;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  border:0.5px black solid;
  color: black;
  background-color: white;
}
.btn-secondary1:hover {
  background-color: #0d6e5e;
  color:white;
}