/* .continueText {
  color: #979797;
  font-weight: 400;
  font-size: 24px;
}
.loginText .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  color: #000000;
  font-weight: 600;
  font-size: 28px !important;
}
.login-modal .css-2rbg70-MuiPaper-root-MuiDialog-paper {
  width: 500px !important;
} */

.cross-img:hover {
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer;
}

.button {
  padding: 16px;
  border: 1px solid #d8d8d8;
  border-radius: 5px !important;
  background-color: #ffffff;
  width: 74px;
  height: 69px;
}
a {
  all: unset;
}
a:hover {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  border: 1px solid #f44d5e;
  background-color: #fff0f0;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.register-container {
  text-align: center;
}

.register-btn {
  background-color: #ffff;
  color: #3a3a3a;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #d8d8d8;
  border-radius: 3px !important;
  width: 100%;
  height: 40px;
}
.register-btn:hover {
  cursor: pointer;
  background-color: #f44d5e;
}

.register-btn:hover > span {
  cursor: pointer;
  color: #ffffff;
}

.register-btn > span > img {
  margin-left: 10px;
  width: 20px;
}

.login-container {
  font-weight: 400;
  padding-right: 50px;
}
.login-container:nth-child(5) {
  font-size: 13px;
  padding-left: 2px;
}

.border1 {
  width: 48%;
  height: 1px;
  background-color: #d8d8d8;
}
.border {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.loginPopup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-rows {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
}

.col-second {
  padding-right: 50px;
}
.newRegister {
  padding-right: 50px;
  font-weight: 400;
}
.newRegister b {
  text-align: center;
  margin-top: 15px;
  margin-bottom: -10px;
}
.MuiInputBase-root {
  padding: 0;
}
.MuiInputBase-root ::placeholder {
  font-size: 10px;
}

.MuiInput-underline::after,
.MuiInput-underline::before {
  border-bottom: none !important;
}
.register-now {
  background-color: #f44d5e;
  color: #ffffff;
  font-weight: 500;
  border: 1px solid #d8d8d8;
  height: 40px;
  border-radius: 3px !important;
  width: 100%;
}

.message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  padding: 10px 0px 12px 20px;
  margin: 0 auto 0 auto;
  width: 300px;
  height: min-content;
  background: #ffffff;
  box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}
.message-container div span {
  font-weight: 400;
}

.sucessfull-message span {
  color: #28b446;
  margin-left: 5px;
}

.message-close-arrow > button > img {
  height: 12px;
  width: 12px;
}
.snackBar {
  display: flex;
  justify-content: center;
}
.visibilityIcon {
  color: #f44d5e;
}
.password-lable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.password-lable a {
  font-size: 13px;
}
.error-message {
  color: #eb8989;
  font-size: 14px;
}

.error-input-snackBar {
  color: #f44d5e;
  font-size: 14px;
}

.error-input {
  height: fit-content;
  border: 1px solid #f44d5e;
  border-radius: 3px;
}

.sucessfull-input-snackBar {
  color: #28b446;
  font-size: 14px;
}

.input {
  height: fit-content;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}
.MuiInputBase-input {
  padding: 12px 13px 12px 13px !important;
  height: 16px !important;
}

.reset-password-container {
  padding-right: 50px;
}

.reset-password-container:nth-child(5) {
  font-size: 13px;
  padding-left: 20px;
}

.reset-password-btn {
  background-color: #f44d5e;
  color: #ffffff;
  font-weight: 500;
  border: 1px solid #d8d8d8;
  height: 40px;
  width: 100%;
  text-align: center;
  border-radius: 3px !important;
}

.register-btn-container {
  text-align: center;
}

.login-btn {
  background-color: #f44d5e;
  color: #ffffff;
  font-weight: 500;
  border: 1px solid #d8d8d8;
  height: 40px;
  width: 100%;
  text-align: center;
  border-radius: 3px !important;
}

.mainFrame {
  background-color: #ffffff;
  max-width: 360px;
  height: fit-content;
  border-radius: 10px;
}
.cross-img {
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.text {
  color: #000000;
  font-size: 14px;
}

.mainFrame .reset-password-header {
  font-size: 20px;
  font-weight: bolder;
  color: black;
}

.forgot-password-link {
  color: #a5a6aa;
  font-size: 13px;
  text-decoration: underline !important;
}

.password-lable {
  margin-top: 20px;
}
.password-lable a {
  font-size: 13px;
}

.password-lable > :nth-child(1) {
  color: #3a3a3a;
  font-weight: 400;
}
.password-lable > :nth-child(2) {
  color: #a5a6aa !important;
  font-weight: 400;
}

.Success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}
.Success-btn-container {
  width: 200px;
}
.info-input-snackBar {
  color: rgb(0, 122, 255);
  font-size: 14px;
}

.MuiInputBase-root .no-hover:hover {
  background-color: transparent;
}
.requestInput input {
  border: 1px solid #000000;
  border-radius: 10px;
  height: 50px;
  padding-left: 20px;
}
.requestInput input::placeholder {
  color: #8e8b8b;
  font-size: 14px;
  padding-left: 0px;
}
.requestInput .btn {
  background-color: #bcdd33;
}
.cancelIcon{
  font-weight: 900;
  font-size: 20px;
}