.header{
    font-size: 40px;
    font-weight:500;
    
}
.subtext{
    font-size:16px;
    font-weight:400;
    line-height: 19.2px;
    color:#3e4a59
}
.vector{
    position:absolute;
    left:5%;
    z-index: -10;;
}