.teamText {
  color: #595959;
  font-weight: 400;
  font-size: 16.016px;
  letter-spacing: 2.56256px;
  text-transform: uppercase;
}
.healthCareText {
  color: #595959;
  letter-spacing: -0.8px;
  font-weight: 500;
  font-size: 42.3808px;
}
.healthCareText span {
  background: linear-gradient(
    180deg,
    #36d6c3 48.44%,
    rgba(166, 52, 255, 0.301204) 53.12%,
    #158af5 78.65%,
    rgba(44, 38, 32, 0) 99.98%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.descriptionText {
  color: #595959;
  font-weight: 400;
  font-size: 16.5088px;
}
