.featureText {
  color: #ffffff;
  font-weight: 500;
  font-size: 34.496px;
  line-height: 40px;
}
.cursor-pointer {
  cursor: pointer;
}
.featureText span {
  color: #ff8080;
  font-weight: 500;
  font-size: 34.496px;
}
.chatText {
  color: #ff8080;
  font-weight: 400;
  font-size: 19.2192px;
}

.consultationText {
  color: #ffffff;
  font-weight: 400;
  font-size: 16.5088px;
}
.learnMoreBtn {
  border: 1px solid #ffffff;
  border-radius: 12.32px;
  color: #ffffff;
  font-weight: 400;
  font-size: 15.4px;
  background: transparent;
  padding: 10px 21px;
}
.featureText1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 34.496px;
  line-height: 40px;
}
.featureText1 span {
  color: #fdd506;
  font-weight: 500;
  font-size: 34.496px;
}
.chatTextOne {
  color: #fdd506;
  font-weight: 400;
  font-size: 19.2192px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background-color: #fdf9f9;
}
.nav {
  color: #343030;
}
.logInBtn {
  border: 1px solid #343030;
  border-radius: 5px;
  color: #343030;
  background: none;
  padding: 7px 22px;
  font-weight: 500;
  font-size: 15.4px;
}
.navbar {
  width: 25%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbarBtn {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.signUpBtn {
  background: #bcdd33;
  border: 1px solid #bcdd33;
  border-radius: 4px;
  color: #025f4c;
  font-weight: 500;
  font-size: 15.4px;
  padding: 7px 22px;
}
.product-section {
  background-color: #ffffff;
  border-radius: 5px;
}
.product-section > span {
  color: #2c2626;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}
.product-section :hover {
  color: #161010;
  list-style: none;
  background-color: #d9d9d9;
  padding: 5px 5px;
  border-radius: 5px;
}
.product-section {
  top: 27px;
  left: 35px;
}
.product-section > span:hover {
  /* transform: scale(1.1); */
}
