.featureText {
  color: #ffffff;
  font-weight: 500;
  font-size: 34.496px;
  line-height: 40px;
}
.featureText span {
  color: #ff8080;
  font-weight: 500;
  font-size: 34.496px;
}
.chatText {
  color: #ff8080;
  font-weight: 400;
  font-size: 19.2192px;
}

.consultationText {
  color: #ffffff;
  font-weight: 400;
  font-size: 16.5088px;
}
.learnMoreBtn {
  border: 1px solid #ffffff;
  border-radius: 12.32px;
  color: #ffffff;
  font-weight: 400;
  font-size: 15.4px;
  background: transparent;
  padding: 10px 21px;
}
.featureText1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 34.496px;
  line-height: 40px;
}
.featureText1 span {
  color: #fdd506;
  font-weight: 500;
  font-size: 34.496px;
}
.chatTextOne {
  color: #fdd506;
  font-weight: 400;
  font-size: 19.2192px;
}
