.register-container{
    width:40%;
    height:100%;
    border:1px black solid;
    border-radius: 12px;
}

  .Google-btn{
    border-radius:10px;
    border:none;
    color:white;
    background: #4081ec;
  }

  .input-login{
    margin-left: 20%;
    background-color: white !important;
  }
  .Google-btn-login{
    border-radius:10px;
    border:none;
    color:white;
    background:rgb(219, 48, 29);
  }
  .register-here:hover{
    color:blue;
    cursor:pointer;
    text-decoration:underline;
  }
  